#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Sampler"

config APP_BATTERY_THREAD_STACK_SIZE
	int "Thread stack size"
	default 8192

config APP_BATTERY_MESSAGE_QUEUE_SIZE
	int "Message queue size"
	default 5
	help
	  ZBus subscriber message queue size.

module = APP_BATTERY
module-str = Battery
source "subsys/logging/Kconfig.template.log_config"

endmenu # Sampler
