#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_FOTA
	bool "FOTA"
	select FOTA
	default y if !BOARD_NATIVE_POSIX

config APP_FOTA_THREAD_STACK_SIZE
	int "Thread stack size"
	default 2048

config APP_FOTA_MESSAGE_QUEUE_SIZE
	int "Message queue size"
	default 5
	help
	  ZBus subscriber message queue size.

config APP_FOTA_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout seconds"
	default 600

config APP_FOTA_EXEC_TIME_SECONDS_MAX
	int "Maximum execution time seconds"
	default 480
	help
	  Watchdog timeout in seconds for a state machine run.
	  The FOTA module may perform downloads of large files,
	  and the watchdog timeout should be set to a value that is longer than the expected
	  maximum download time in normal operation.

config APP_FOTA_REBOOT_DELAY_SECONDS
	int "Reboot delay seconds"
	default 10
	help
	  Delay in seconds before rebooting after a FOTA_STATUS_REBOOT_PENDING event has been
	  sent.

if APP_FOTA

module = APP_FOTA
module-str = FOTA
source "subsys/logging/Kconfig.template.log_config"

endif # APP_FOTA
