#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "FirstLook application"

rsource "src/modules/led/Kconfig"
rsource "src/modules/gas_sensor/Kconfig"
rsource "src/modules/location/Kconfig"
rsource "src/modules/movement/Kconfig"
rsource "src/modules/sampler/Kconfig.sampler"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/transport/Kconfig.transport"
rsource "src/modules/trigger/Kconfig.trigger"
rsource "src/modules/error/Kconfig.error"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
