#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Transport"
	depends on NRF_CLOUD_COAP

config APP_TRANSPORT_RECONNECTION_TIMEOUT_SECONDS
	int "Reconnection timeout in seconds"
	default 60
	help
	  Time in between reconnection attempts to the MQTT broker.

config APP_TRANSPORT_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1536

config APP_TRANSPORT_MESSAGE_QUEUE_SIZE
	int "Message queue size"
	default 5
	help
	  ZBus subscriber message queue size.

config APP_TRANSPORT_WORKQUEUE_STACK_SIZE
	int "Workqueue stack size"
	default 1792
	help
	  Stack size of the module's internal workqueue.

config APP_TRANSPORT_POLL_INTERVAL_SECONDS
	int "Poll interval in seconds"
	default 10
	help
	  Interval in seconds between polling nRF Cloud CoAP.

config APP_TRANSPORT_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout seconds"
	default 180

config APP_TRANSPORT_EXEC_TIME_SECONDS_MAX
	int "Maximum execution time seconds"
	default 120
	help
	  Maximum time allowed for a single execution of the module's thread loop.

module = APP_TRANSPORT
module-str = Transport
source "subsys/logging/Kconfig.template.log_config"

endmenu # Transport
