#
# Copyright (c) 2025 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config MCUBOOT_USE_ALL_AVAILABLE_RAM
    default y

source "${ZEPHYR_BASE}/share/sysbuild/Kconfig"
