#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Thingy Out-of-Box Application"

config APP_PAYLOAD_CHANNEL_BUFFER_MAX_SIZE
	int "Payload maximum buffer size"
	default 128
	help
	  Maximum size of the buffer sent over the payload channel.
	  Contains encoded CBOR data sampled and encoded in the various modules.

rsource "src/modules/trigger/Kconfig.trigger"
rsource "src/modules/battery/Kconfig.battery"
rsource "src/modules/network/Kconfig.network"
rsource "src/modules/transport/Kconfig.transport"
rsource "src/modules/location/Kconfig.location"
rsource "src/modules/led/Kconfig.led"
rsource "src/modules/app/Kconfig.app"
rsource "src/modules/fota/Kconfig.fota"
rsource "src/modules/environmental/Kconfig.environmental"
rsource "src/modules/memfault/Kconfig.memfault"
rsource "src/modules/shell/Kconfig.shell"
rsource "src/modules/button/Kconfig.button"
rsource "src/modules/bluetooth/Kconfig.bluetooth"

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
