#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

module = APP_MODULE_GAS_SENSOR
module-str = GAS_SENSOR
source "subsys/logging/Kconfig.template.log_config"
