#
# Copyright (c) 2024 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_MEMFAULT
	bool "Memfault"
	select MEMFAULT
	select MEMFAULT_HTTP_PERIODIC_UPLOAD
	select MODEM_KEY_MGMT
	select MEMFAULT_LOGGING_ENABLE
	select MEMFAULT_HTTP_ENABLE
	select MEMFAULT_NCS_LTE_METRICS
	select MEMFAULT_NCS_STACK_METRICS
	select MEMFAULT_NCS_INTERNAL_FLASH_BACKED_COREDUMP

if APP_MEMFAULT

config APP_MEMFAULT_INCLUDE_MODEM_TRACES
	bool "Modem traces to memfault"
	select MEMFAULT_CDR_ENABLE
	help
	  Include modem traces with Memfault coredumps.

config APP_MEMFAULT_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1536

config APP_MEMFAULT_WATCHDOG_TIMEOUT_SECONDS
	int "Watchdog timeout seconds"
	default 1200

config APP_MEMFAULT_ZBUS_TIMEOUT_SECONDS
	int "Wait for zbus timeout seconds"
	default 60

config APP_MEMFAULT_UPLOAD_METRICS_ON_CLOUD_READY
	bool "Update metrics on cloud ready events"
	help
	  Update and upload metrics to Memfault when the cloud connection is ready.
	  Note that this means that metrics will be uploaded every time network connection is
	  established and cloud is connected. In poor network conditions, this may happen
	  frequently and may consume a excessive amount of data and power.
	  Also note that this only applies to metrics, not coredumps, which are uploaded
	  regardless of this setting.

module = APP_MEMFAULT
module-str = Memfault
source "subsys/logging/Kconfig.template.log_config"

endif # APP_MEMFAULT
