#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menu "Sampler"

module = APP_MODULE_SAMPLER
module-str = Sampler
source "subsys/logging/Kconfig.template.log_config"

endmenu # Sampler
