/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <thingy91x_wifi.dtsi>

&bme680 {
	status = "okay";
};

/ {
	aliases {
		gas-sensor = &bme680;
	};

	chosen {
		nordic,modem-trace-uart = &uart1;
	};
};

&uart1 {
	status = "okay";
};
