#
# Copyright (c) 2023 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig APP_LED
	bool "LED"
	select LED
	default y if !BOARD_NATIVE_POSIX

if APP_LED

module = APP_LED
module-str = LED
source "subsys/logging/Kconfig.template.log_config"

endif # APP_LED
